.Product{
        border: 1px solid black;
        border-radius: 14px;
        /* background-color: black; */
        margin-bottom: 15px;
        /* padding: 0 10px 0 10px; */
        margin-left: 15px;
        width: 200px;
        height: 170px;
}